.container {
    max-width: 1140px;
    margin: 0 auto;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.text-center {
    text-align: center;
}

.text-uppercase {
    text-transform: uppercase;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.btn-primary {
    padding: 12px 24px 12px;
    color: #fff;
    background-color: #002045;
    border-radius: 25px;
    transition: ease-in-out 0.3s;
}

.btn-secondary {
    padding: 12px 24px 12px;
    color: #002045;
    background-color: #DFB841;
    border-radius: 25px;
    transition: ease-in-out 0.3s;
}

.btn-primary:hover {
    background-color: #DFB841;
    transform: scale(1.1) !important;
}

.btn-secondary:hover {
    background-color: #002045;
    color: #fff;
    transform: scale(1.1) !important;
}

/* padding */
.py-1 {
    padding: 1rem 0;
}

.py-2 {
    padding: 1.5rem 0;
}

.py-3 {
    padding: 2rem 0;
}

.py-4 {
    padding: 3rem 0;
}

.py-5 {
    padding: 4rem 0;
}

.pt-1 {
    padding-top: 1rem;
}

.pt-2 {
    padding-top: 1.5rem;
}

.pt-3 {
    padding-top: 2rem;
}

.pt-4 {
    padding-top: 3rem;
}

.pt-5 {
    padding-top: 4rem;
}

.pb-1 {
    padding-bottom: 1rem;
}

.pb-2 {
    padding-bottom: 1.5rem;
}

.pb-3 {
    padding-bottom: 2rem;
}

.pb-4 {
    padding-bottom: 3rem;
}

.pb-5 {
    padding-bottom: 4rem;
}

.p-1 {
    padding: 1rem;
}

.p-2 {
    padding: 1.5rem;
}

.p-3 {
    padding: 2rem;
}

.p-4 {
    padding: 3rem;
}

.p-5 {
    padding: 4rem;
}

/* margin */
.my-1 {
    margin: 1rem 0;
}

.my-2 {
    margin: 1.5rem 0;
}

.my-3 {
    margin: 2rem 0;
}

.my-4 {
    margin: 3rem 0;
}

.my-5 {
    margin: 4rem 0;
}

.m-1 {
    margin: 1rem;
}

.m-2 {
    margin: 1.5rem;
}

.m-3 {
    margin: 2rem;
}

.m-4 {
    margin: 3rem;
}

.m-5 {
    margin: 4rem;
}

.ms-1 {
    margin-left: 1rem;
}

.ms-2 {
    margin-left: 1.5rem;
}

.ms-3 {
    margin-left: 2rem;
}

.ms-4 {
    margin-left: 3rem;
}

.ms-5 {
    margin-left: 4rem;
}

.me-1 {
    margin-right: 1rem;
}

.me-2 {
    margin-right: 1.5rem;
}

.me-3 {
    margin-right: 2rem;
}

.me-4 {
    margin-right: 3rem;
}

.me-5 {
    margin-right: 4rem;
}

.w-25 {
    width: 25%;
}

.w-50 {
    width: 50%;
}

.w-75 {
    width: 75%;
}

.w-100 {
    width: 100%;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.grid-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

.card {
    padding: 25px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    border-radius: 10px;
    margin: 15px;
    background-color: #fff;

}

@media only screen and (max-width: 767px) {
    .w-25 {
        width: 100% !important;
    }
    
    .w-50 {
        width: 100% !important;
    }
    
    .w-75 {
        width: 100% !important;
    }

    .center {
        width: 100%;
    }
}

@media only screen and (max-width: 464px) {
    .grid {
        grid-template-columns: repeat(1, 1fr);
    }

    .grid-3 {
        grid-template-columns: repeat(1, 1fr);
    }
}